# source: http://apetec.com/support/GenerateSAN-CSR.htm
[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = DE
countryName_default = DE
stateOrProvinceName = Baden-Wuerttemberg
stateOrProvinceName_default = Baden-Wuerttemberg
localityName = Freiburg i. Br.
localityName_default = Freiburg i. Br.
organizationalUnitName  = University of Freiburg
organizationalUnitName_default  = University of Freiburg
commonName = 
commonName_max  = 64

[ v3_req ]
# Extensions to add to a certificate request
# authorityKeyIdentifier=keyid,issuer
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = simdata.vm.uni-freiburg.de
IP.1 = 132.230.102.164
